* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}
h1{
    font-size: 2rem;
    color: black solid;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: rgb(137, 16, 89);
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.wrapper{
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1rem;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: whitesmoke;
    background-color: white;
    transition: 150ms ease;
}
form input:hover{
    border-color: pink;
}
button{
    border: none;
    outline: none;
    background: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    transform: 0.3s ease;
    cursor: pointer;
}

button:hover {
     background: hotpink;
     transition: 0.3s;
}